/* Colors */
.citySelectPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4c676d; }
  .citySelectPage__form {
    width: 100%;
    text-align: center; }
  .citySelectPage__text {
    line-height: 4;
    font-size: 12px; }
  .citySelectPage__useLocation {
    font-size: 14px; }

.citySelectInput {
  width: 50%;
  border: none;
  outline: none;
  border-bottom: 1px solid #4c676d;
  text-align: center;
  font-size: 26px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNS41IDE0aC0uNzlsLS4yOC0uMjdDMTUuNDEgMTIuNTkgMTYgMTEuMTEgMTYgOS41IDE2IDUuOTEgMTMuMDkgMyA5LjUgM1MzIDUuOTEgMyA5LjUgNS45MSAxNiA5LjUgMTZjMS42MSAwIDMuMDktLjU5IDQuMjMtMS41N2wuMjcuMjh2Ljc5bDUgNC45OUwyMC40OSAxOWwtNC45OS01em0tNiAwQzcuMDEgMTQgNSAxMS45OSA1IDkuNVM3LjAxIDUgOS41IDUgMTQgNy4wMSAxNCA5LjUgMTEuOTkgMTQgOS41IDE0eiIvPgogICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: right center;
  outline: 0; }

.forecastPage {
  color: #4c676d;
  display: flex;
  flex-direction: column; }
  .forecastPage__date {
    font-size: 18px;
    margin-top: 20px; }

.forecastNavigation__returnArrow {
  padding: 5px;
  margin-right: 20px; }

.forecastNavigation__cityName {
  font-size: 26px;
  font-weight: 600; }

@media (min-width: 490px) {
  .forecastPage__date {
    font-size: 22px; } }

.forecast {
  display: flex;
  flex-direction: column;
  margin-top: 12px; }
  .forecast__details {
    color: #df9980;
    font-size: 14px;
    max-width: 140px; }

.forecastMain {
  margin-bottom: 15px;
  margin-right: 26px; }
  .forecastMain__description {
    font-size: 16px; }

.forecastTemperature {
  color: #df9980;
  letter-spacing: -1px; }
  .forecastTemperature__value {
    font-size: 100px; }
  .forecastTemperature__icon {
    display: none;
    font-size: 90px; }

.dayTimeForecast {
  line-height: 24px; }
  .dayTimeForecast__temperature {
    float: right;
    margin-left: 30px; }

@media (min-width: 350px) and (max-width: 489px) {
  .forecast {
    flex-direction: row;
    align-items: center; } }

@media (min-width: 490px) {
  .forecast {
    flex-direction: row;
    align-items: center; }
  .forecastMain__description {
    font-size: 20px; }
  .forecastTemperature {
    display: flex;
    align-items: center; }
    .forecastTemperature__value {
      margin-right: 26px; }
    .forecastTemperature__icon {
      display: block; } }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif; }

#weatherAppRoot {
  background-color: #fe816a;
  letter-spacing: 1px;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #weatherAppRoot > * {
    flex: 1 1 100%; }

.weatherApp {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .weatherApp > * {
    flex: 1 1 100%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 2%; }
  .weatherApp .link {
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer; }

@media (min-width: 500px) {
  .weatherApp {
    width: 90%;
    max-height: 370px;
    max-width: 700px; } }
