.forecast {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 30px;

  &__details {
    color: $peach-dark;
    font-size: 16px;
    width: 140px;
  }
}

.forecastMain {
  margin-bottom: 15px;
  margin-right: 26px;

  &__description {
    font-size: 16px;
  }
}

.forecastTemperature {
  color: $peach-dark;
  letter-spacing: -1px;

  &__value {
    font-size: 100px;
  }

  &__icon {
    display: none;
    font-size: 90px;
  }
}

.dayTimeForecast {
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 350px) and (max-width: 629px) {
  .forecast {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 630px) {
  .forecast {
    flex-direction: row;
    align-items: center;
  }

  .forecastMain {
    &__description {
      font-size: 20px;
    }
  }

  .forecastTemperature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 360px;

    &__value {
      margin-right: 26px;
    }

    &__icon {
      display: block;
    }
  }
}