.forecastPage {
  color: $blue-gray;
  display: flex;
  flex-direction: column;

  &__date {
    font-size: 18px;
    margin-top: 20px;
  }
}

.forecastNavigation {
  display: flex;
  align-items: center;

  > * {
    flex: 1 1 100%;
  }

  &__returnArrow {
    margin-right: 20px;
    max-width: 20px;
  }

  &__cityName {
    font-size: 26px;
    font-weight: 600;
  }

  &__unitSwitch {
    height: 20px;
    width: 50px;
    max-width: 50px;
    background-color: $white !important;

    .switch-toggle {
      height: 18px;
    }
  }
}

@media (min-width: 490px) {
  .forecastPage {
    &__date {
      font-size: 22px;
    }
  }
}